<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://etrnguchatbot20170318093231.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>etrnguchatbot20170318093231.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ETRNGUChatBot20170318093231</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ETRNGUChatBot20170318093231</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=t2cfgn7i9r.database.windows.net;Initial Catalog=AcademicQuizBotDB;User ID=bot;Password=1234qweR;Application Name=EntityFramework" Name="Data Source=t2cfgn7i9r.database.windows.net;Initial Catalog=AcademicQuizBotDB;User ID=bot;Password=1234qweR;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-ETR.NGU.ChatBot-20170314063938.mdf;Initial Catalog=aspnet-ETR.NGU.ChatBot-20170314063938;Integrated Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-ETR.NGU.ChatBot-20170314063938.mdf;Initial Catalog=aspnet-ETR.NGU.ChatBot-20170314063938;Integrated Security=True;User Instance=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AcademicQuizBotDb" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ETR.NGU.ChatBot.AcademicQuizBotDb, ETR.NGU.ChatBot" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AcademicQuizBotDBEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=t2cfgn7i9r.database.windows.net;Initial Catalog=AcademicQuizBotDB;User ID=bot;Password=1234qweR;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AcademicQuizBotDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/TEstDb.csdl|res://*/TEstDb.ssdl|res://*/TEstDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=t2cfgn7i9r.database.windows.net;initial catalog=AcademicQuizBotDB;user id=bot;password=1234qweR;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AcademicQuizBotDb-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AcademicQuizBotDBEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=t2cfgn7i9r.database.windows.net;Initial Catalog=AcademicQuizBotDB;User ID=bot;Password=1234qweR;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>